

.instr
{
 width: 100%;
 margin: 0px auto;
 margin-left:2px; 
}
.instr th
{
text-align: left;
border:1px double #a1a1a1;
background:#dddddd;

}


.overlabel label {
    position: absolute;
    top: 2px;
    left: 3px;
    color: #999;
    font-size:12px;
    cursor: text;
}



.instr tr
{
  background-color: #f3fafc;
  font-size:1.0em;
  font-family:"Times New Roman", Times, serif;
}
.instr tr.even
{
  background-color: #f3fafc;

}
.space
{
    height:5px;
    }
.filter
{

background: #d8e5f8;




/*background: #cccccc;

background: #cccccc;

>>>>>>> e12b46cedcb6d891eccea323bf516d44bd268ec1
border: 1px solid #781351;
padding: 5px 2px 6px;
text-align: left;
color:#000000;
    }

<<<<<<< HEAD
.filter td {
padding:0px;
font-size: 10px;
font-weight: normal;
text-align: left;
=======

   
>>>>>>> e12b46cedcb6d891eccea323bf516d44bd268ec1
}
<<<<<<< HEAD

<<<<<<< HEAD
=======
    }
=======
>>>>>>> 66419239d852e2427612ed18efba40b918e7c222

>>>>>>> e12b46cedcb6d891eccea323bf516d44bd268ec1
#txtbox {
<<<<<<< HEAD
    background: url(/images/rounded.gif) no-repeat top left;
    height: 22px;
    width: 230px;
        border: 0;

=======
    background: url(/images/ff.jpg) no-repeat top left;
    height: 22px;
    width: 230px;
    border: 0;
>>>>>>> 66419239d852e2427612ed18efba40b918e7c222
    margin-top:3px;
}
.tablehead
{
    background-color:ece9d8;

    }

.instr tr.odd:hover
{
   background-color: cccccc;
}
.instr tr.even:hover
{
   background-color: cccccc;
}

.tablehead:hover
{
    background-color: none;
    }
.instr td.last
{
 border-right: 1px dotted #999;
 border-bottom: 1px solid #999;
 border-left: 4px dotted #999;
}
.instr td.staf
<<<<<<< HEAD
=======

>>>>>>> e12b46cedcb6d891eccea323bf516d44bd268ec1
 {
   
  border-left: 1px dotted #999;
 }
<<<<<<< HEAD
=======


>>>>>>> e12b46cedcb6d891eccea323bf516d44bd268ec1
.instr td.module
{

}
.instr td.edt
 {
 border-right: 1px dotted #999;
 }
.instructor
{
/*---------web form---------------- */
fieldset
{
border-color:#F00;
border-style: solid;
border: 1px solid #000000;
width: 20em
}

legend
{

color: #000;
background: #ffa20c;
border: 1px solid #781351;

padding: 20px 6px

    color: #000;
    background: #ffa20c;
    border: 1px solid #781351;
    padding: 20px 6px

} 
.submit input
{
margin-left: 4.5em;

} 
.submit input
{


}
input
{
color: #781351;
background: #fee3ad;
border: 1px solid #781351
}

.submit input
{
color: #000;
background: #ffa20f;
border: 2px outset #d7b9c9
}
