.cont {
    width:900px;
    background:#ffffff;
    margin:40px auto;
    padding-top: -50px;


}
.menu {
    width:900px;
    height:60px;
    background:blue;
    color:yellow;
    border-bottom:6px double red;
    padding-top: 5px;

}
.banner
{
    width:900px;
    background-color: #eeeeee;
    padding-top: -10px;
}

.plink {
    padding:5px;
    float:right;
    font-family:"Georgia";
    font-size:20px;
}
.slider {
    width:900px;
    height:300px;
    float:left;
}
a {
    color:red;
}
a:hover {
    background:#000000;
    color:white;
}
.leftlink {
      width:250px;
      float:left;
        padding:5px;
}
.mbody {
    width:630px;
    float:right;
    color:navy;
    letter-spacing:2px;
    font-size:10px;
}
h1 {
    text-decoration:blink;
}
.footer {
    float:left;
    background:#000000;
    width:900px;
    height:100px;
    color:gray;
    font-size:15px;
    border-top:4px double red;
    text-indent:70px;
}
