/* 
    Document   : newCascadeStyleSheet
    Created on : Dec 28, 2012, 3:20:31 AM
    Author     : asmie
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

